html {
  background: #0e0e0e;
}

body {
  display: flex;
  flex-wrap: wrap;
  color: #919191;
  font-family: 'PT Sans', sans-serif;
  background: #f3f3f3;
  margin: 100px 120px;
}

header {
  text-align: center;
  flex-basis: 100%;
  position: relative;
  background: black;
  padding: 8px 8px 32px 8px;
  background: #1d1d1d;
}

h1 {
  font-family: serif;
  font-weight:lighter;
  font-size: 2em;
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
}


main {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.listInfo {
  font-size: 10px;
  font-family: sans-serif;
}

.listInfo a {
  font-family: serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration-color: rgb(0,0,0);
}

.bio a {
  font-family: serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration-color: rgb(0,0,0);

}

.bio {
  font-size: 10px;
  font-family: sans-serif;

}

img {
  margin-left: 5px;
  border-radius: 200px;
  width: 110px;
  margin-bottom: -200px;
}
